<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>ts sample</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div id="root-region"></div>

    <script id="root-view" type="text/template">
      <div id="header-region"></div>
      <div id="main-region"></div>
    </script>

    <script id="header-view" type="text/template">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">ts sample</a>
          </div>
        </div>
      </nav>
    </script>

    <script id="top-view" type="text/template">
      <div class="panel panel-default">
        <div class="panel-heading">メニュー</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div class="panel panel-default">
                <ul class="list-group">
                  <li class="list-group-item">
                    <a href="#" id="to-register-link">ユーザ登録</a>
                  </li>
                  <li class="list-group-item">
                    <a href="#" id="to-search-link">ユーザ検索</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script id="search-view" type="text/template">
      <div class="panel panel-default">
        <div class="panel-heading">検索</div>
        <div class="panel-body"></div>
        <div id="search-table-region"></div>
      </div>
    </script>

    <script id="search-empty-view" type="text/template">
      <li class="list-group-item">該当するユーザはいません</li>
    </script>

    <script id="search-table-view" type="text/template">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>名前</th>
            <th>年齢</th>
          </tr>
        </thead>
        <tbody id="search-table-body"></tbody>
      </table>
    </script>

    <script id="search-table-row-view" type="text/template">
      <th><%- id %></th>
      <th><%- name %></th>
      <th><%- age %></th>
    </script>

    <script src="dist/bundle.js"></script>
  </body>
</html>
