<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>ts sample</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
  </head>
  <body>
    <div id="root-region"></div>

    <script id="root-view" type="text/template">
      <div id="header-region"></div>
      <div id="main-region"></div>
    </script>

    <script id="header-view" type="text/template">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">ts sample</a>
          </div>
        </div>
      </nav>
    </script>

    <script id="top-view" type="text/template">
      <div class="panel panel-default">
        <div class="panel-heading">メニュー</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div class="panel panel-default">
                <ul class="list-group">
                  <li class="list-group-item">
                    <a href="#" id="to-register-link">ユーザ登録</a>
                  </li>
                  <li class="list-group-item">
                    <a href="#" id="to-search-link">ユーザ検索</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script id="search-view" type="text/template">
      <div class="panel panel-default">
        <div class="panel-heading">検索</div>
        <div id="search-form-region" class="panel-body"></div>
        <div id="search-table-region"></div>
      </div>
    </script>

    <script id="search-form-view" type="text/template">
      <div class="form-group">
        <label class="control-label">名前</label>
        <input id="search-name" class="form-control">
      </div>
      <div class="form-group">
        <label class="control-label">年齢</label>
        <input id="search-age" class="form-control">
      </div>
      <button id="search" class="btn btn-default">検索</button>
    </script>

    <script id="search-empty-view" type="text/template">
      <li class="list-group-item">該当するユーザはいません</li>
    </script>

    <script id="search-table-view" type="text/template">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>名前</th>
            <th>年齢</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="search-table-body"></tbody>
      </table>
    </script>

    <script id="search-table-row-view" type="text/template">
      <th><%- id %></th>
      <th><%- name %></th>
      <th><%- age %></th>
      <th><a href="#" class="btn btn-link btn-xs to-edit-link">編集</th>
    </script>

    <script id="register-view" type="text/template">
      <div class="panel panel-default">
        <div class="panel-heading">ユーザ登録</div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label class="control-label">名前</label>
              <input id="input-name" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label">年齢</label>
              <input id="input-age" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label">血液型</label>
              <select id="input-blood" class="form-control">
                <option value="">-</option>
                <option value="0">A</option>
                <option value="1">B</option>
                <option value="2">O</option>
                <option value="3">AB</option>
              </select>
            </div>
            <div class="form-group">
              <label class="control-label">性別</label>
              <div>
                <div id="input-sex" class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default">
                    <input type="radio" name="sex" value="m">男
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="sex" value="f">女
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">誕生日</label>
              <input id="input-birth" class="form-control">
            </div>
            <button id="submit" class="btn btn-default">作成</button>
          </form>
        </div>
      </div>
    </script>

    <script src="dist/bundle.js"></script>
  </body>
</html>
